<!doctype html>
<html>

<head>
  <title>Gestionale Magazzino - Prodotti</title>
  <%- include('../headers/header'); -%>
  <%- include('../headers/headerTablePage'); -%>
  <script src="/sweetalert/sweetalert.min.js"></script>
</head>

<body className='snippet-body'>

  <body id="body-pd">
    <%- include('../_templates/navbar.ejs', {active: "categorie"}); -%>
    <!--Container Main start-->
    <div class="height-100 bg-light">
      <div class="main-section">
        <div class="item-title">
          <h2>Cerca Categorie</h2>
        </div>
        <br>
        <div class="container">
          <% if(session.displaySuccessMsg){ %>
            <div class="alert alert-success" role="alert">
              <%= session.displaySuccessMsg %>
              <% session.displaySuccessMsg = null %>
            </div>
          <% } %>
          <div class="row search-container">
            <form onsubmit="event.preventDefault()">
              <input oninput="tableSearch(this.value, [0])" type="search" name="data" placeholder="Cerca">
              <button><i class="bx bx-search-alt"></i></button>
              <% if (session.user.ruolo != "utente"){ %>
                <a href="/categorie/nuovo" style="margin-left: 2rem;"><button onclick="window.location = '/categorie/nuovo'" style="border-radius: 0;"><i class='bx bxs-plus-square'></i></button></a>
              <% } %>
            </form>
          </div>
          <div class="custom-table-container">
            <table class="table custom-table searchable-table">
              <thead>
                <tr>
                  <th scope="col">Nome</th>
                  <th scope="col">Elimina</th>
                </tr>
              </thead>
              <tbody>
                <% for (let item of categorie) { %>
                    <tr>
                        <td><%= item.nome%></td>
                        <td>
                          <form action="/categorie/elimina" method="POST" id="deleteForm">
                            <input type="hidden" name="nome" id="nome" value="<%= item.nome%>">
                            <a><button type="submit"><i class="bx bx-trash"></i></button></a>
                          </form>
                        </td>
                    </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script>
      const form = document.getElementById("deleteForm");

      form.addEventListener('submit', (e) => {
          e.preventDefault();
          swal({
              title: "Sei sicuro di voler eliminare questa categoria?",
              text: "L'eliminazione della categoria è immediata, quindi non sarà possibile recuperarla in alcun modo.",
              icon: "warning",
              buttons: {
              cancel: "Annulla",
              confirm: {
                  text: "Si",
                  value: "yes",
                  className: "confirm-btn"
              }
              },
          }).then((value) => {
              if (value === "yes") {
                  form.submit();
              }
          });
      });
    </script>
    <script src="/js/navbar.js"></script>
    <script src="/js/search.js"></script>
  </body>
</html>