<!doctype html>
<html>

<head>
  <title>Gestionale Magazzino- Archivio noleggi</title>
  <%- include('../headers/header'); -%>
  <%- include('../headers/headerTablePage'); -%>
  
<body className='snippet-body'>
  <body id="body-pd">
    <%- include('../_templates/navbar.ejs', {active: "noleggi"}); -%>
    <!--Container Main start-->
    <div class="height-100 bg-light">
      <div class="main-section">
        <div class="item-title">
          <h2>Archivio noleggi</h2>
        </div>
        <div class="container">
          <div class="row search-container">
            <form onsubmit="event.preventDefault()">
              <input oninput="tableSearch(this.value, [1,3])" type="search" name="data" placeholder="Cerca">
              <button><i class="bx bx-search-alt"></i></button>
            </form>
          </div>
          <div class="custom-table-container">
            <table class="table custom-table searchable-table">
              <thead>
                <tr>
                <th class="optional" scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Data scadenza</th>
                <th scope="col" class="optional">Autore</th>
                <th scope="col">Mostra</th>
              </tr>
              </thead>
              <tbody>
                <% for (let item of noleggi) { %>
                  <tr>
                    <td class="optional"><%= item.idNoleggio %></td>
                    <td><%= item.nome %></td>
                    <% 
                      let dataFine = new Date(item.dataFine);
                      let dataFineFormatted = dataFine.toLocaleDateString("en-CH");
                     %>
                    <td><%=dataFineFormatted %></td>
                    <td class="optional"><%=item.idUtente %></td>
                    <td><a href="/archivio/<%= item.idNoleggio %>"><button type="submit"><i class="bx bx-show-alt"></i></button></a></td>
                    </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/search.js"></script>
    <script src="/js/navbar.js"></script>
  </body>
</html>