<!doctype html>
<html>

<head>
    <title>Gestionale Magazzino - Archivio noleggi</title>
    <%- include('../headers/header'); -%>
    <%- include('../headers/headerDettagliPage'); -%>
</head>

<body className='snippet-body'>

  <body id="body-pd">
    <%- include('../_templates/navbar.ejs', {active: "noleggi" }); -%>
      <!--Container Main start-->
      <div class="height-100 bg-light">
        <div class="main-section">
          <div class="item-container">
            <div class="item-left">
              <div class="item-title">
                <h2>
                  <%= noleggio.nome%> <h5>(Archiviato)</h5>
                </h2>
              </div>
              <div class="item-info">
                <p><strong>ID:</strong>
                  <%= noleggio.idNoleggio %>
                </p>
                <p><strong>Autore:</strong>
                  <%= noleggio.idUtente %>
                </p>
                <% 
                let dataInizio=new Date(noleggio.dataInizio); 
                let dataInizioFormatted = dataInizio.toLocaleDateString("en-CH"); 
                %>
                  <p>
                      <strong>Data inizio:</strong>
                      <%=dataInizioFormatted %>
                  </p>
                <% 
                let dataFine=new Date(noleggio.dataFine); 
                let dataFineFormatted=dataFine.toLocaleDateString("en-CH"); 
                %>
                  <p>
                      <strong>Data scadenza:</strong>
                      <%=dataFineFormatted %>
                  </p>
                <p>
                  <strong>Chiusura forzata:</strong>
                  <%
                  let chiusuraForzata = noleggio.chiusuraForzata;
                  if(chiusuraForzata){%>
                    <span style="color: red;">SI</span>
                  <% }else{ %>
                    <span style="color: green;">NO</span>
                  <% } %>
                </p>
              </div>
            </div>
            <div class="item-right">
              <div class="item-title">
                <h2>Materiale</h2>
              </div>
              <div class="custom-table-container" style="overflow-y: hidden;">
                <table class="table custom-table">
                  <thead>
                    <tr>
                      <th class="optional" scope="col">Id</th>
                      <th scope="col">Nome</th>
                      <th scope="col">Quantità</th>
                      <th class="optional" scope="col">Categoria</th>
                      <th scope="col">Mostra</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (let item of prodotti) { console.log(prodotti)%>
                      
                      <tr>
                        <td class="optional">
                          <%= item[0].codice %>
                        </td>
                        <td>
                          <%= item[0].nome %>
                        </td>
                        <td>
                          <%= item[1] %>
                        </td>
                        <td class="optional">
                          <%= item[0].categoria %>
                        </td>
                        <td><a href="/prodotti/<%= item[0].codice %>"><button type="submit"><i
                                class="bx bx-show-alt"></i></button></a></td>
                      </tr>
                      <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!--Container Main end-->
        <script type="text/javascript" src="/js/navbar.js"></script>
  </body>

</html>