<!doctype html>
<html>

<head>
  <title>Gestionale Magazzino - Utente</title>
  <%- include('../headers/header'); -%>
  <%- include('../headers/headerDettagliPage'); -%>
  <script src="/sweetalert/sweetalert.min.js"></script>
</head>

<body className='snippet-body'>

  <body id="body-pd">
    <%- include('../_templates/navbar.ejs', {active: "utenti" }); -%>
      <!--Container Main start-->
      <div class="height-100 bg-light">
        <div class="main-section">
          <div class="item-container">
            <div class="item-title">
              <h2>
                <%= user.nome%> <%= user.cognome%>
              </h2>
            </div>
          </div>
          <div class="item-container">
            <div class="item-left">
              <div class="item-picture">
                <img src="<%= user.riferimentoFoto %>" alt="item Picture">
              </div>
              <div class="item-info">
                <p><strong>ID:</strong>
                  <%= user.id %>
                </p>
                <p><strong>Nome:</strong>
                  <%= user.nome %>
                </p>
                <p><strong>Cognome:</strong>
                    <%= user.cognome %>
                </p>
                <% 
                let dataNascita=new Date(user.dataNascita).toLocaleDateString("en-CH");
                %>
                <p><strong>Data di nascita:</strong>
                    <%= dataNascita %>
                </p>
              </div>
              <div class="functions">
                <div class="button-align-left">
                    <% if (session.user.id === user.id){ %>
                      <a href="/profilo/modifica"><button type="submit"><i class='bx bx-edit-alt'></i></button></a>
                    <% }else{ %>
                      <a href="/utenti/modifica/<%= user.id %>"><button type="submit"><i class='bx bx-edit-alt'></i></button></a>
                    <%}%>
                    <span class="optional">Modifica utente</span>
                  </div>
                  <div class="button-align-left">
                    <form action="/utenti/elimina" method="POST" id="deleteForm">
                      <input type="hidden" name="id" value="<%= user.id %>">
                      <div>
                        <button type="submit"><i class='bx bx-trash'></i></button>
                        <span class="optional">Rimuovi utente</span>
                      </div>
                    </form>
                  </div>
              </div>
            </div>
            <div class="spacer"></div>
            <div class="item-right">
              <div class="item-title">
                <h2>Noleggi in corso dell'utente</h2>
              </div>
              <div class="custom-table-container">
                <table class="table custom-table">
                  <thead>
                    <tr>
                      <th scope="col">Nome</th>
                      <th scope="col">Data inizio</th>
                      <th scope="col">Data fine</th>
                      <th scope="col">Mostra</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(let noleggio of noleggi){ %>
                        <tr>
                            <td><%= noleggio.nome%></td>
                            <% let dataInizioNoleggio = new Date(noleggio.dataInizio).toLocaleDateString("en-CH")%>
                            <td class="optional"><%= dataInizioNoleggio%></td>
                            <% let dataFineNoleggio = new Date(noleggio.dataFine).toLocaleDateString("en-CH")%>
                            <td><%= dataFineNoleggio%></td>
                            <td><a href="/noleggi/<%= noleggio.id %>"><button type="submit"><i class="bx bx-show-alt"></i></button></a></td>
                        </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <script>
          const form = document.getElementById("deleteForm");
    
          form.addEventListener('submit', (e) => {
              e.preventDefault();
              <% if(session.user.id == user.id){ %>
                swal({
                  title: "ATTENZIONE: Stai eliminando il tuo utente!",
                  text: "Sei sicuro di voler eliminare il tuo utente? L'azione è irreversibile e non sarai più in grado di accedere all'applicativo!",
                  icon: "warning",
                  buttons: {
                  cancel: "Annulla",
                  confirm: {
                      text: "Si",
                      value: "yes",
                      className: "confirm-btn"
                  }
                  },
              }).then((value) => {
                  if (value === "yes") {
                      form.submit();
                  }
              });
              <%}else{%>
                swal({
                  title: "Sei sicuro di voler eliminare questo utente?",
                  text: "L'eliminazione dell'utente è immediata, quindi non sarà possibile recuperarlo in alcun modo.",
                  icon: "warning",
                  buttons: {
                  cancel: "Annulla",
                  confirm: {
                      text: "Si",
                      value: "yes",
                      className: "confirm-btn"
                  }
                  },
              }).then((value) => {
                  if (value === "yes") {
                      form.submit();
                  }
              });
              <%}%>
          });
        </script>
        <script type="text/javascript" src="/js/navbar.js"></script>
  </body>

</html>