<!DOCTYPE html>
<html lang="it">

<head>
    <title>GestionaleMagazzino - Utenti</title>
    <%- include('../headers/header'); -%>
    <%- include('../headers/headerModifyPage'); -%>
</head>

<body className='snippet-body'>

  <body id="body-pd">
    <%- include('../_templates/navbar.ejs', {active: "dashboard" }); -%>
      <div class="height-100 bg-light">
        <div class="main-section">
          <div class="item-container">
            <div class="item-center">
              <div class="item-title">
                <h2>Modifica profilo</h2>
              </div>
              <br>
              <form action="/profilo/modifica" method="POST" enctype="multipart/form-data" id="modificaForm">
                <div class="item-info">
                    <div class="form-row">
                      <label>Email:</label>
                      <input class="form-control" id="email" type="text" name="email" value="<%= user.email%>" maxlength="255" required>
                      <input type="hidden" name="id" value="<%= user.id%>">
                    </div>
                    <br>
                    <div class="form-row">
                      <label>Nome:</label>
                      <input class="form-control" type="text" id="nome" name="nome" value="<%= user.nome%>" maxlength="64" required>
                    </div>
                    <br>
                    <div class="form-row">
                      <label>Cognome:</label>
                      <input class="form-control" type="text" id="cognome" name="cognome" value="<%= user.cognome%>" maxlength="64" required>
                    </div>
                    <br>
                    <div class="form-row">
                      <label>Data di nascita:</label>
                      <% 
                        let dataNascita = new Date(user.dataNascita)
                        let dataNascitaFormatted = dataNascita.getFullYear()+"-"+String(dataNascita.getMonth()+1).padStart(2, '0')+"-"+String(dataNascita.getDate()).padStart(2, '0')
                      %>
                      <input class="form-control" type="date" id="dataNascita" value="<%= dataNascitaFormatted%>" name="dataNascita" required>
                    </div>
                    <br>
                    <div class="form-row">
                      <label>Ruolo:</label>
                      <select class="form-control" name="ruolo" id="ruolo" required>
                        <% let ruolo = user.ruolo%>
                        <option value="<%= ruolo %>" selected="selected">
                        <% ruolo = ruolo.charAt(0).toUpperCase() + ruolo.substring(1, ruolo.length)%>
                        <%= ruolo %>
                        </option>
                      </select>
                    </div>
                    <br>
                    <div class="form-row">
                      <label>Password:</label>
                      <input class="form-control" type="password" id="password" value="<%= user.password %>" name="password" required>
                    </div>
                    <br>
                    <div class="form-row">
                      <label>Ripeti password:</label>
                      <input class="form-control" type="password" id="passwordRipetuta" name="passwordRipetuta" value="<%= user.password %>" required>
                    </div>
                    <br>
                    <div class="item-title">
                        <h3>Inserisci foto opz.</h3>
                      </div>
                      <div class="form-row">
                        <input class="form-control" type="file" name="foto" id="formFile" capture="camera" accept="image/jpeg, image/png">
                      </div>
                      <br>
                      <div class="item-picture" style="display: block;">
                        <img id="previewImage" src="<%= user.riferimentoFoto %>" width="400" height="300">
                      </div>
                  <% if(typeof displayError !== "undefined" && displayError){ %>
                    <div class="alert alert-danger" role="alert">
                      <%= message %>
                    </div>
                  <% } %>
                <div class="functions">
                  <div class="button-align-left">
                    <button type="submit"><i class='bx bxs-check-circle'></i></button>
                    <span class="optional">Conferma</span>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
  </body>
</body>
<script src="/js/navbar.js"></script>
<script src="/js/imagePreview.js"></script>
</html>