<!doctype html>
<html>

<head>
  <%- include('../_templates/header'); -%>
  <link rel="stylesheet" href="/css/noleggio/noleggi.css">
  <title>Gestionale Magazzino</title>

<body className='snippet-body'>
  <body id="body-pd">
    <%- include('../_templates/navbar.ejs', {active: "noleggi"}); -%>
    <!--Container Main start-->
    <div class="height-100 bg-light">
      <div class="main-section">
        <div class="container">
          <div class="row search-container">
            <form action="#" method="POST">
              <input type="search" name="search" placeholder="Cerca">
              <button type="submit"><i class="bx bx-search-alt"></i></button>
            </form>
          </div>
          <div class="custom-table-container">
            <table class="table custom-table">
              <thead>
                <tr>
                <th class="optional" scope="col">Id</th>
                <th scope="col">Nome</th>
                <th class="optional" scope="col">Data fine</th>
                <th scope="col">Autore</th>
                <th scope="col">Mostra</th>
              </tr>
              </thead>
              <tbody>
                <% for (let item of noleggi) { %>
                  <tr>
                    <td class="optional"><%= item.id %></td>
                    <td><%= item.nome %></td>
                    <% 
                      let dataFine = new Date(item.dataFine);
                      let dataFineFormatted = dataFine.toLocaleDateString("en-CH");
                     %>
                    <td <% if(new Date() > dataFine){%>style="color: red;"<%}%>><%=dataFineFormatted %></td>
                    <td class="optional"><%=item.idUtente %></td>
                    <td><a href="/noleggi/<%= item.id %>"><button type="submit"><i class="bx bx-show-alt"></i></button></a></td>
                    </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--Container Main end-->
    <script type='text/javascript'>document.addEventListener("DOMContentLoaded", function (event) {

        const showNavbar = (toggleId, navId, bodyId, headerId) => {
          const toggle = document.getElementById(toggleId),
            nav = document.getElementById(navId),
            bodypd = document.getElementById(bodyId),
            headerpd = document.getElementById(headerId)

          // Validate that all variables exist
          if (toggle && nav && bodypd && headerpd) {
            toggle.addEventListener('click', () => {
              // show navbar
              nav.classList.toggle('show')
              // change icon
              toggle.classList.toggle('bx-x')
              // add padding to body
              bodypd.classList.toggle('body-pd')
              // add padding to header
              headerpd.classList.toggle('body-pd')
            })
          }
        }

        showNavbar('header-toggle', 'nav-bar', 'body-pd', 'header')

        /*===== LINK ACTIVE =====*/
        const linkColor = document.querySelectorAll('.nav_link')

        function colorLink() {
          if (linkColor) {
            linkColor.forEach(l => l.classList.remove('active'))
            this.classList.add('active')
          }
        }
        linkColor.forEach(l => l.addEventListener('click', colorLink))

        // Your code to run since DOM is loaded and ready
      });</script>
    <script type='text/javascript'>var myLink = document.querySelector('a[href="#"]');
      myLink.addEventListener('click', function (e) {
        e.preventDefault();
      });</script>
  </body>

</html>