<!doctype html>
<html>

<head>
  <%- include('../_templates/header'); -%>
  <title>Gestionale Magazzino - Dashboard</title>
  <link rel="stylesheet" href="/css/dashboard/dashboard.css">
</head>

<body className='snippet-body'>

  <body id="body-pd">
    <%- include('../_templates/navbar.ejs', {active: "dashboard"}); -%>
    <!--Container Main start-->
    <div class="height-100 bg-light">
      <div class="main-section">
        <div class="item-title">
          <h2>Benvenuto/a nella Dashboard <%= session.user.nome %></h2>
        </div>
        <br>
        <div class="item-title">
          <h2>I tuoi noleggi</h2>
        </div>
        <% if(session.displaySuccessMsg){ %>
          <div class="alert alert-success" role="alert">
            <%= session.displaySuccessMsg %>
            <% session.displaySuccessMsg = null %>
          </div>
        <% } %>
        <div class="container">
          <div class="custom-table-container">
            <table class="table custom-table searchable-table">
              <thead>
                <tr>
                  <th class="optional" scope="col">Id</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Scadenza</th>
                  <th class="optional" scope="col">Autore</th>
                  <th scope="col">Mostra</th>
                </tr>
              </thead>
              <tbody>
                <% for (let item of noleggi) { %>
                    <tr>
                      <td class="optional"><%= item.id %></td>
                      <td><%= item.nome %></td>
                      <% 
                        let dataFine = new Date(item.dataFine);
                        let dataFineFormatted = dataFine.toLocaleDateString("en-CH");
                       %>
                      <td <% if(new Date() > dataFine){%>style="color: red;"<%}%>><%=dataFineFormatted %></td>
                      <td class="optional"><%=item.idUtente %></td>
                      <td><button type="submit"><i class="bx bx-show-alt"></i></button></td>
                      </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/navbar.js"></script>
  </body>
</html>