<!doctype html>
<html>

<head>
  <title>Gestionale Magazzino - Dashboard</title>
  <%- include('../headers/header'); -%>
  <%- include('../headers/headerTablePage'); -%>
  <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body className='snippet-body'>

  <body id="body-pd">
    <%- include('../_templates/navbar.ejs', {active: "dashboard"}); -%>
    <!--Container Main start-->
    <div class="height-100 bg-light">
      <div class="main-section">
        <div class="item-title">
          <h2>Benvenuto/a nella Dashboard <%= session.user.nome %></h2>
        </div>
        <% if(session.displaySuccessMsg){ %>
          <br>
          <div class="alert alert-success" role="alert">
            <%= session.displaySuccessMsg %>
            <% session.displaySuccessMsg = null %>
          </div>
        <% } %>
        <% if(session.displayErrorMsg){ %>
          <div class="alert alert-danger" role="alert">
            <%= session.displayErrorMsg %>
            <% session.displayErrorMsg = null %>
          </div>
        <% } %>
        <div style="margin-bottom: 2.5rem; margin-top: 2.5rem;">
          <%- include('../_templates/dashboard.ejs') -%>
        </div>
        <br><br>
        <div class="item-title">
          <h2>I tuoi noleggi</h2>
        </div>
        <div class="container">
          <div class="custom-table-container">
            <table class="table custom-table searchable-table">
              <thead>
                <tr>
                  <th scope="col">Nome</th>
                  <th scope="col">Data scadenza</th>
                  <th class="optional" scope="col">Autore</th>
                  <th scope="col">Mostra</th>
                </tr>
              </thead>
              <tbody>
                <% for (let item of noleggi) { %>
                    <tr>
                      <td><%= item.nome %></td>
                      <% 
                        let dataFine = new Date(item.dataFine);
                        let dataFineFormatted = dataFine.toLocaleDateString("en-CH");
                       %>
                      <td <% if(new Date() > dataFine){%>style="color: red;"<%}%>><%=dataFineFormatted %></td>
                      <td class="optional"><%=item.idUtente %></td>
                      <td><a href="/noleggi/<%= item.id %>"><button type="submit"><i class="bx bx-show-alt"></i></button></a></td>
                      </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/navbar.js"></script>
  </body>
</html>