<!doctype html>
<html>

<head>
  <%- include('../_templates/header'); -%>
  <title>Gestionale Magazzino - Prodotti</title>
  <link rel="stylesheet" href="/css/prodotto/prodotti.css">
</head>

<body className='snippet-body'>

  <body id="body-pd">
    <%- include('../_templates/navbar.ejs', {active: "prodotti"}); -%>
    <!--Container Main start-->
    <div class="height-100 bg-light">
      <div class="main-section">
        <div class="item-title">
          <h2>Cerca prodotti</h2>
        </div>
        <br>
        <div class="container">
          <% if(session.displaySuccessMsg){ %>
            <div class="alert alert-success" role="alert">
              <%= session.displaySuccessMsg %>
              <% session.displaySuccessMsg = null %>
            </div>
          <% } %>
          <div class="row search-container">
            <form onsubmit="event.preventDefault()">
              <input oninput="tableSearch(this.value, [1,2,3,4])" type="search" name="data" placeholder="Cerca">
              <button><i class="bx bx-search-alt"></i></button>
            </form>
          </div>
          <div class="custom-table-container">
            <table class="table custom-table searchable-table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th class="optional" scope="col">Id</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Quantità</th>
                  <th class="optional" scope="col">Categoria</th>
                  <th scope="col">Mostra</th>
                </tr>
              </thead>
              <tbody>
                <% for (let item of products) { %>
                    <tr>
                        <td>
                          <label class="control control--checkbox">
                            <input type="checkbox" class="js-check-all" />
                            <div class="control__indicator"></div>
                          </label>
                        </td style="height: 50px;">
                        <td class="optional"><%= item.codice%></td>
                        <td><%= item.nome%></td>
                        <td><%= item.quantita%></td>
                        <td class="optional"><%= item.categoria%></td>
                        <td><a href="/prodotti/<%= item.codice %>"><button type="submit"><i class="bx bx-show-alt"></i></button></a></td>
                      </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/navbar.js"></script>
    <script src="/js/search.js"></script>
  </body>
</html>